.hiddenDivider {
  margin: 48px 0px;
}

.projectPageImageContainer {
  width: 100%;
  margin-bottom: 16px;
}

.projectPageImage {
  // TODO: Use SCSS var for blue
  border: 1px solid #0000ff;
  width: 100%;
}

.projectPageVideo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

._baseVideoContainer {
  width: 100%;
  // TODO: Use SCSS var for blue
  border: 1px solid #0000ff;
  margin-bottom: 16px;
}

.videoWrapper {
  @extend ._baseVideoContainer;

  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.videoWrapper {
  @extend ._baseVideoContainer;

  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.projectVideoContainer {
  @extend ._baseVideoContainer;

  display: block;

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    min-height: auto;
    min-width: auto;
  }
}