/* Basic CSS to setup the sections. */

.section-full {
    height: 100vh;
    width: 100%;
}

/*.footer {}*/

/*#splash {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, blue 50%);
    transition: background-position 1s;
}*/

#about {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Splash Page Section */
.splash-text {
    font-family: Helvetica;
}

#name {
    font-size: 180px;
    margin-top: 30vh;
}

.skill-area {
    color: #9B9B9B;
    font-size: 64px;
}

.skill-area:hover {
    color: #000000;
}


/* About Page Section */
/*#scan {}*/

.body-text {
    color: white;
    font-family: Courier;
    font-size: 30px;
}

#about-text {
    width: 40%;
    margin-left: 10%;
}

/* Footer Section */
.circle {
    position: relative;
    display: inline-block;
}

.circle:nth-child(1) {
    left: 0%;
}

.circle:nth-child(2) {
    left: 33.3%;
}

.circle:nth-child(3) {
    left: 66.6%;
}

.circle:nth-child(4) {
    left: 100%;
}

.circle span {
    font-family: Courier;
    font-size: 20px;
    height: 80px;
    position: absolute;
    transform-origin: bottom center;
    width: 20px;
}
